.collaboration {
    &__section {
        display: grid;
        gap: 2rem;
        padding-block: rem(60.5px);
    }

    &__header {
        color: #373939;
        font-weight: 600;
        font-size: clamp(1.125rem, 0.396vw + 1.019rem, 1.375rem);
        text-align: center;
    }

    &__images-container {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;

        img {
            display: block;
        }
    }
}

.features {
    &__section {
        padding-block: rem(42px);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;

        @media screen and (min-width: 600px) {
            height: min(100dvh, 800px);
        }
    }

    &__texts-container {
        display: grid;
        gap: 2rem;
        width: 100%;
    }

    &__header {
        font-size: rem(28px);
        line-height: rem(42px);
        font-weight: 600;
        color: #0C0C0C;
    }

    &__card-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        gap: rem(24px);
    }

    &__card {
        width: 100%;
        background-color: red;
        border-radius: 8px;
        padding-inline: rem(20px);
        aspect-ratio: 1.12/1;
        background-color: #F3F4F4;
        display: grid;
        gap: 1rem;
        place-content: center;

        text-align: center;
    }

    &__card-icon {
        width: 48px;
        display: grid;
        place-content: center;
        margin-inline: auto;
    }

    &__card-header {
        line-height: rem(24px);
        font-size: 1rem;
        font-weight: 500;
        color: #373939;
    }

    &__card-description {
        line-height: rem(21px);
        font-size: rem(14px);
        color: #5D5F5F;
    }

    &__play-button {
        margin-inline: auto;
        padding: .5rem 1rem;
        border-radius: 50%;
        width: fit-content;
    }

    &__header {
        font-weight: 600;
        font-size: clamp(1.125rem, 0.396vw + 1.019rem, 1.375rem);
        text-align: center;
    }

    &__text {
        font-weight: 300;
        font-size: clamp(1rem, 0.198vw + 0.947rem, 1.125rem);
        text-align: center;
    }

}

.video {
    &__section {
        background: linear-gradient(to top, black, transparent), url('/assets/images/28606 (1) 1.jpg') no-repeat center;
        display: flex;
        justify-content: baseline;

        @media screen and (min-width: 600px) {
            height: min(100dvh, 800px);
        }
    }

    &__content {
        margin-block: auto 1rem;
        display: grid;
        gap: rem(71px);
        width: min(100%, 100ch);
        margin-inline: auto;
        color: white;
        text-align: center;
    }

    &__play-button {
        margin-inline: auto;
        padding: .5rem 1rem;
        border-radius: 50%;
        width: fit-content;
    }

    &__header {
        font-weight: 600;
        font-size: clamp(1.125rem, 0.396vw + 1.019rem, 1.375rem);
        text-align: center;
    }

    &__text {
        font-weight: 300;
        font-size: clamp(1rem, 0.198vw + 0.947rem, 1.125rem);
        text-align: center;
    }

}

.cta {
    text-decoration: none;
    display: inline-flex;
    gap: rem(6px);
    align-items: center;
    background-color: var(--green);
    padding: rem(20px) rem(42px);
    color: var(--_color, white);
    border-radius: 8px;
    width: fit-content;
    margin-inline: auto;

    span:has(svg) {
        display: grid;
        place-content: center;
    }

}